/*
* For styling headings and their contents in columns (using grid-css)
*/
.outline-2 {
    /*background-color: var(--secondBackgroundCol);*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-template-rows: repeat(3, auto-fit);
    grid-gap: 0.1rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    /*grid-template-rows: 1fr min-content;*/
    grid-auto-flow: row dense;
    grid-column: 1 / -1;
    /*   grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr); */
}


div.outline-2 h2, div.outline-2 div.outline-text-2 {
    color: var(--black);
    /*text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;*/
  /*With this property, tags will be repositioned in the grid (these tags at the begginning and the idea is that they span all columns, ie: the whole width of the screen..)*/
    grid-column: 1 / -1;
  /*text-align: center;*/
}

#content {
    /*Grid stuff*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: .1rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    grid-template-rows: 1fr min-content;
    grid-auto-flow: column dense;
    /*   grid-auto-flow: column;
    grid-auto-columns: minmax(260px, 1fr); */
}

h1.title {
  /*With this property, tags will be repositioned in the grid (these tags at the begginning and the idea is that they span all columns, ie: the whole width of the screen..)*/
  grid-column: 1 / -1;
  /*text-align: center;*/
}


/*
* Class outline-3 are nodes with "**"
*/
/*.outline-3 h3 ~ div {
    display: none;
}
.outline-3:hover div{
    display: block;
}*/

/*
* List node inside of outline-text-2 (i.e. not inside a "**" heading) should
* also be styled as grid. The idea is to put the items in the list in columns.
*/
.outline-2 div.outline-text-2 ul {
    /*background-color: orange;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: repeat(4, auto-fit);
    grid-gap: 0.4rem;
    align-items: start;
    /*To fill the spaces in between grid-items:*/
    /*grid-template-rows: auto;*/
    /*grid-template-rows: 1fr min-content;*/
    grid-auto-flow: row dense;
}
