/*Override re-com css*/
* {
    min-height: auto;
    min-width: auto;
}
html, body {
    height: auto;
}
/* Overriding some css to make re-com single-dropdown menu like a button
 * Prefix stuff with: .n-simple-dd-select-button>div.rc-dropdown>
*/
.n-simple-dd-select-button>div.rc-dropdown>a.chosen-single.chosen-default {
  color: red;
  width: 20px;
  border: inherit;
  background-color: inherit;
  box-shadow: inherit;
}
.n-simple-dd-select-button>div.rc-dropdown>.chosen-single div b {
  background: url("../assets/css/chosen-sprite.png") no-repeat 0 15px;
  display: block;
  height: 100%;
  width: 100%;
}
.n-simple-dd-select-button>div.rc-dropdown>.chosen-drop {
  width: 200px;
}
/*END Override re-com css*/

/*Taken from: https://codepen.io/zachariab/pen/wkrbc*/
#content img.imgWebIcon {
    /*max-width: 50%;*/
    max-width: 20px;
}


#postamble {
    /*color: white;*/
    padding-top: 20px;
    float: bottom;
}


span.menuDownIcon{
   margin: 10px;
}


ul.sortableList {
   list-style-type: none;
   padding: 10px 0px 10px 1px;
   margin: 5px 0px 5px 20px;
   border: 10px;
}

ul.sortableList li{
  margin: 20px 10px 0px 5px;
}

span.boundBox {
  /*border:dashed 1px #aaaaaa;
  padding: 16px 12px;
  font-size: 1.2em;
  color: red;*/
  font-size: 1.2em;
  padding: 16px 16px 16px 16px;
  margin: 16px 16px 16px 16px;
}
span.grippy {
  cursor: move;/*Cursor is 4 arrows.*/
  color: #cccccc;
  user-select: none;/*Prevents selecting text while dragging.*/
  /*content: '....';
  width: 10px;
  height: 5px;
  display: inline-block;
  overflow: hidden;
  line-height: 15px;
  padding: 16px 16px 16px 16px;
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  vertical-align: middle;
  text-shadow: 1px 0 1px black;*/
}
/*span.grippy::after {
  content: '.. .. .. ..';
}*/


.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-content {
  font-size: 14px;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #cccccc;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  box-shadow: 0 8px 8px rgba(0, 0, 0, .25);
  padding: 12px 16px;
  z-index: 1;
  background: #ffffff;
}

.dropdown-content ul {
  list-style: none;
}
.dropdown-content ul li:hover {
  background-color: #eeeeee;
  background-image: none;
}
