
#content {
    /*background-color: var(--secondBackgroundCol);*/
    max-width: 1900px;
    /*Round corners*/
    border-top-left-radius:     1em;
    border-top-right-radius:    1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius:  1em;
}

.outline-3, #table-of-contents {
  /*background-color: white;*/
  /*top-right-bottom-left*/
  padding: 10px 20px 10px 30px;
  margin: 10px 5px 10px 5px;
  border: 4px solid var(--black);
  border-radius: 30px;
}


.outline-2 div.outline-text-2 ul li {
    margin: 2px 15px;
    /*background-color: orange;*/
    /*If text overflows, you can add truncate and add ellipsis ("..."). 
      Also: insert this css rule, if wanting to make text appear when hovered:
      
      .outline-2 div.outline-text-2 ul li:hover {
           overflow: visible;
           border: 1px solid green ;
      }
    */
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

