/*
* Search bar styling
*/

#searchBar {
    text-align: center;
      /*With this property, tags will be repositioned in the grid (these tags at the begginning and the idea is that they span all columns, ie: the whole width of the screen..)*/
    grid-column: 1 / -1; /* Assumes #content is grid (see style.css)*/
}

#myInput {
  /*background-image: url('/css/searchicon.png'); Add a search icon to input */
  /* background-position: 10px 12px; Position the search icon */
  /* background-repeat: no-repeat;Do not repeat the icon image */
  width: 60%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
