/*
 * Hide Table of content for blog posts (assumes org-publish has :with-toc t)
*/
#table-of-contents {
    text-align: left;
    /*opacity: 0.4;*/
    /*background-color: white;*/
    /*top-right-bottom-left*/
    padding: 10px 20px 10px 30px;
    margin: 10px 5px 10px 5px;
    border: 4px solid black;
    border-radius: 30px;
}

#table-of-contents h2 {
    font-size: 1em;
    line-height: 1.0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#text-table-of-contents ul li {
    list-style-type: "\23F5";
}
#text-table-of-contents ul li a {
    font-size: 1em;
    line-height: 1.0;
    /*color: black;*/
}
#text-table-of-contents ul li a:hover {
    /*color: blue;*/
    font-weight: bold;
}

/*Hide text of table of contents until you hove on "Table of contents"
#text-table-of-contents {
    display: none;
}
#table-of-contents:hover #text-table-of-contents{
    display: block;
}*/
/*Hide/Modify table-of-contents when window is small.*/
@media (max-width: 900px){
    #table-of-contents{
      display: none;
    }
}
